/* Author: Vardhan Patil(DitherWither) */

.questions-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

p {
    text-align: center;
}

.quiz-subquestion {
    padding: 1rem;
}

.answer-status-display {
    padding: 2rem;
    margin: 1rem;
    margin-top: 1.5rem;
    border-radius: 2rem;
    text-align: center;
    color: white;
}


input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input-label {
    background-color: #3584E4;
}